body {
    background-color: #EEEFEF;
    border-top: 6px #11B8BC solid;
    font-family: 'Roboto', Arial, sans-serif;   
    font-weight: 100; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', Arial, sans-serif;   
    font-weight: 300; 
}

h1 {
    font-weight: 100;
    font-size: 3em; 
    text-align: center;
    line-height: 1.1em;
    color: #000;
}

h2 {
    font-size: 1.4em;
    line-height: 1em;
}

li {
    list-style-type: none;
}

ul, li {
    margin: 0;
}

a {
    color: #11B8BC;
    font-weight: 300;     
}

.container-narrow {
    margin: 0 auto;
    max-width: 1000px;
}

.fontbold {
    font-weight: 300;
}

.tagline {
    text-align: center;
    margin: 30px 0;
    font-size: 1.4em;
    line-height: 1em;
}

.tagline .fontbold {
   color: #11B8BC;
   font-size: 18px;

}

.description
{
    color: #231F20;
    font-size: 16px;
    font-weight: 300;
}


.btn-group
{
    float: right;
    margin: 20px 15px 0 0;
}

form {
    margin-top: 20px;
}

.thumbnail {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 30px;

}

footer {
    background-color: #11B8BC;
    padding: 20px 0 0; 
    margin-top: 25px;
}

footer p, footer li {
    font-weight: 300;
    font-size: 15px;
    color: #231F20;   
}

footer h4, footer a{
    color: #eeefef;
}

footer a {
    color: #231F20;
    text-decoration: underline;;
}

footer .nhshd {
    background-color: #006065;
    height: 80px;
    margin-top: 35px;
    padding: 25px 0 10px;
}


/* BIG NUMBERS AND GRAPHS */

.bignumbers {
    font-weight: 300; 
    font-size: 6em;
    line-height: 1em;
    color:#E80053;
}

.summary {
    margin-bottom: 15px;
}

.tagline {
    font-size: 1.6em;
    margin: 15px auto 5px;
}

.search, .btn-group {
    float: right;
    margin-right: 15px;
}


/* ICONS */

.icon-desktop, .icon-hospital {
    color: #11B8BC;
    text-align: center;
    margin-bottom: 15px;
}

.circle {
    width:60px;
    height:60px;
    border-radius:30px;
    color:#fff;
    line-height:75px;
    text-align:center;
    background:#fff;
    margin-bottom: 15px;
    margin: 10px auto 0;
}

.icon-print {
    color: #11B8BC;
}


/* H1 RIBBON */

.ribbon {
 width: 50%;
 position: relative;
 background: #11B8BC;
 padding: 0.5em 1em;
 margin: 70px auto 15px;
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1.5em;
 border: 2em solid #00858a;
 z-index: -1;
}
.ribbon:before {
 left: -2.5em;
 border-right-width: 2em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2.5em;
 border-left-width: 2em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #006065 transparent transparent transparent;
 bottom: -0.5em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 0.5em 0 0 0.5em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 0.5em 0.5em 0 0;
}

